#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal{
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: auto;
   background-color: rgba(196, 196, 196, 0.4);
   color: white;
   display: none;
   justify-content: center;
   position: absolute;
   top: 0;
   z-index: 2;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto; 
    margin-top: 50px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: justify;
    color: black;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

/* form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
} */
form div {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}
form textarea{
    width: 100%;
    border: none;
    min-height: 170px;
    border-radius: 5px;
}
.no-scroll {
    overflow: hidden;
}
 
/* ligthbox */
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: white;
   z-index: 10;
   display: flex;
   justify-content: center;

    /* overflow: auto;  */
}
.lightbox.fadOut{
    opacity: 0;
}
.lightbox_next, .lightbox_prev{
    border: none;
    background: url(../assets/icons/flech.svg) center center / 100% 100%;
    width: 48px;
    height: 100%;
    position:fixed; 
     top: 0;
     right: 20px;
    margin-top: -14px;
    z-index: 11; 
    cursor: pointer;
}
.lightbox_prev{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.lightbox_close{
    border: none;
    background: url(../assets/icons/closeLig.svg) center center / 42px 42px no-repeat transparent;
    width: 42px;
    height: 42px;
    position: fixed;
    top: 20px;
    right: 20px; 
    z-index: 12;  
    cursor: pointer;
}
.lightbox_container img, video{
    width: 100%;
    height: 100%;
}

.lightbox_container{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 640px;
   max-width: 1020px;
    /* min-height: 100vh; */
    margin: 0 70px;
}
.lightbox_container p{
    width: 100%;
    color: rgba(144, 28, 28, 1);
    font-size: 24px;
}